.container {
    display: grid;
    height:100%;
    grid-gap: 6px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 20px auto 100px;
    grid-template-areas:
        ". . . . h h h h . . . ."
        ". . . . . . . . . . . ."
        ". m m m m m . c c c c . "
        "f f f f f f f f f f f f"
        
}

.header {
    /* grid-column: 1 / 4; */
    grid-area: h;

}

.photo {
    /* grid-row:  1/ 6;
    grid-column: 4 / 1; */
    grid-area:m;
    /* max-width: 70%;
    height: auto */

}
img{
    max-width: 70%;
    height: auto

}

.content {
    /* grid-column: 4 / 1;
    grid-row: 2 / 6; */
    grid-area:c;
}

.footer {
    /* grid-column: 1 / -1; */
    grid-area:f;
}
